YOUR_NAME: 'YOUR\_NAME'

FRONT_PAGE_INFO:
-----------
\begin{center}
This is the\\
"FRONT\_PAGE\_INFO"\\
(multiline)
\end{center}
------------

PROCESSING_TIME: 'PROCESSING\_TIME'
MINUTES: 'MINUTES'
EXERCISE_COUNT: 'EXERCISE\_COUNT'
MAX_POINTS: 'MAX\_POINTS'
YOUR_POINTS: 'YOUR\_POINTS'
POINTS: 'POINTS'

FRONT_PAGE_BOTTOM:
----------------
\vspace*{5mm}
\begin{center}
This is the\\
FRONT\_PAGE\_BOTTOM\\
(multiline)
\end{center}
-----------------

PAGE: "PAGE"
SOLUTION_TITLE : "SOLUTION\_TITLE"
EXERCISE : "EXERCISE"
TITLE : "config.TITLE"
NAME: "config.NAME"
ID: "config.ID"
GRADE: "GRADE"

ADDITIONAL_LATEX_STUFF:
----------
%
% e.g., some extra includes
%
----------
