NAME: 'Dr. Pierre Bayerl'

FRONT_PAGE_INFO:
-----------
{Schreiben Sie bitte mit einem blauen oder schwarzen Kugelschreiber}.\\
{Schreiben Sie nur auf ausgeteiltem Papier} (Sie können Nachschub bekommen)\\[2mm]
------------

PROCESSING_TIME: 'Bearbeitungszeit'
MINUTES: 'Min.'
EXERCISE_COUNT: 'Anzahl Aufgaben'
MAX_POINTS: 'Maximale Punktzahl'
YOUR_POINTS: 'Erreichte Punktzahl'
POINTS: 'Punkte'

FRONT_PAGE_BOTTOM:
----------------
\vspace*{5mm}
{\bfseries Tipp:} Wenn Sie sich deutlich mehr Minuten mit einer Aufgabe beschäftigen, als es Punkte gibt, sollten Sie zur nächsten Aufgabe springen.\\
\begin{center}
{\itshape Viel Erfolg!}\\
\end{center}
-----------------
